<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Fonts</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font type</string>
			<key>Key</key>
			<string>font_preference</string>
			<key>DefaultValue</key>
			<string>American Typewriter</string>
			<key>Titles</key>
			<array>
				<string>Helvetica</string>
				<string>Zapfino</string>
				<string>Chalkduster</string>
				<string>American Typewriter</string>
				<string>Noteworthy</string>
			</array>
			<key>Values</key>
			<array>
				<string>Helvetica</string>
				<string>Zapfino</string>
				<string>Chalkduster</string>
				<string>American Typewriter</string>
				<string>Noteworthy</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sorting</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sorting</string>
			<key>Key</key>
			<string>sorting_preference</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Ascending</string>
				<string>Descending</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>0</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
